- name: 'Provision k8s node'
  hosts: localhost
  become: true

  tasks:
  # install packages
    ## setup docker repository
    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
      tags: [ docker ]

    - name: Add the Docker repository
      apt_repository:
        repo: 'deb https://download.docker.com/linux/ubuntu jammy stable'
        state: present
      tags: [ docker ]

    ## setup kubernetes repository
    - name: Add GPG key
      apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present
      tags: [ system ]

    - name: Add the Kubernetes repository
      apt_repository:
        repo: 'deb https://apt.kubernetes.io/ kubernetes-xenial main'
        state: present
      tags: [ system ]

    - name: Update apt cache after adding kubernetes repository
      apt:
        update_cache: yes
      tags: [ system ]

    ## install packages
    - name: Install Packages
      apt:
        pkg:
          - containerd
          - kubelet
          - kubeadm
          - kubectl
        state: present
      tags: [ system ]

    - name: Mark services as held
      shell: |
        apt-mark hold {{ item }}
      with_items:
        - containerd
        - kubelet
        - kubeadm
        - kubectl
      tags: [ system ]

  # disable swap
    - name: Disable swap
      command: swapoff -a
      tags: [ system ]
    
    - name: Disable swap in /etc/fstab
      lineinfile:
        dest: /etc/fstab
        regexp: '^/swap.img.*swap'
        line: '# &'
      tags: [ system ]

  # Configure containerd
    - name: Create /etc/modules-load.d/k8s.conf if it does not exist
      file:
        path: /etc/modules-load.d/k8s.conf
        state: touch
      tags: [ containerd ]

    - name: Add containerd modules to /etc/modules-load.d/k8s.conf
      lineinfile:
        path: /etc/modules-load.d/k8s.conf
        line: |
          overlay
          br_netfilter
        state: present
      tags: [ containerd ]

    - name: Load overlay module
      command: | 
        modprobe overlay
        modprobe br_netfilter
      tags: [ containerd ]

    - name: Create /etc/sysctl.d/k8s.conf if it does not exist
      file:
        path: /etc/sysctl.d/k8s.conf
        state: touch
      tags: [ containerd ]

    - name: Set sysctl options for Kubernetes CRI
      lineinfile:
        dest: /etc/sysctl.d/k8s.conf
        line: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward                 = 1
        state: present
      tags: [ containerd ]

    - name: Apply sysctl params without reboot
      command: sysctl --system
      tags: [ containerd ]

    - name: Create a containerd configuration directory
      file:
        path: /etc/containerd
        state: directory
      tags: [ containerd ]

    - name: Create a containerd configuration file
      command: containerd config default
      register: containerd_config
      tags: [ containerd ]

    - name: Write containerd config to file
      copy:
        content: "{{ containerd_config.stdout }}"
        dest: /etc/containerd/config.toml
      tags: [ containerd ]

    - name: Enable SystemdCgroup in containerd config
      replace:
        path: /etc/containerd/config.toml
        regexp: '^            SystemdCgroup = false$'
        replace: '            SystemdCgroup = true'
      tags: [ containerd ]

    - name: Restart containerd service
      service:
        name: containerd
        state: restarted
      tags: [ containerd ]